<!-- <p>graduation works!</p> -->

<h2 class="title">Formação</h2>

<div class="flex-container">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Tecnólogo em Análise e desenvolvimento de sistemas</h5>
            <p class="card-text">Tive o primeiro contato com o PHP no curso tecnico quando tive que fazer meu tcc, apartir disso fiz diversos cursos e me especializei na linguagem.</p>
        </div>
    </div>

    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Tecnico em tecnologia da informação</h5>
            <p class="card-text">Tive o primeiro contato com o PHP no curso tecnico quando tive que fazer meu tcc, apartir disso fiz diversos cursos e me especializei na linguagem.</p>
        </div>
    </div>
</div>
