<!-- <p>graduation works!</p> -->

<h2 class="title">Formação</h2>

<div class="flex-container">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Tecnólogo em Análise e desenvolvimento de sistemas</h4>
            <h5 class="card-title">Ceunsp e Fatec</h5>
            <p class="card-text">01/2020 - 12/2022 - 3 anos</p>
            <p class="card-text">Iniciei a faculdade em 2020 pela instituição de ensino Fatec, ao final do segundo semestre tive uma oportunidade de estagio e por motivos de horario mudei para o Ceunsp onde fiquei até concluir o curso.</p>
        </div>
    </div>

    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Tecnico em tecnologia da informação</h4>
            <h5 class="card-title">Etec</h5>
            <p class="card-text">01/2017 - 12/2019 - 3 anos</p>
            <p class="card-text">Foi um curso tecnico integrado ao ensino medio que fiz, onde tive a minha inicialização na progração e aprendi a base dela.</p>
        </div>
    </div>
</div>
