<!-- <p>graduation works!</p> -->

<h2 class="title">{{ translate.pt.title }}</h2>

<div class="flex-container">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">{{ translate.pt.cardOne.title }}</h4>
            <h5 class="card-title">{{ translate.pt.cardOne.institution }}</h5>
            <p class="card-text">{{ translate.pt.cardOne.date }}</p>
            <p class="card-text">{{ translate.pt.cardOne.text }}</p>
        </div>
    </div>

    <div class="card">
        <div class="card-body">
            <h4 class="card-title">{{ translate.pt.cardTwo.title }}</h4>
            <h5 class="card-title">{{ translate.pt.cardTwo.institution }}</h5>
            <p class="card-text">{{ translate.pt.cardTwo.date }}</p>
            <p class="card-text">{{ translate.pt.cardTwo.text }}</p>
        </div>
    </div>
</div>
