.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card {
    width: 300px;
    padding: 16px;
    margin: 0px 0px 20px 0px;
    text-decoration: none;
    color: #fff;
}

.card:hover {
    text-decoration: underline;
}

.card-body {
    display: flex;
}

.card-body-side {
    align-items: center;
    align-content: center;
    margin: 0px 0px 0px 15px;
}

.card-title {
    margin: 0px 0px 10px 0px;
    padding: 0px;
    border: 0px;
}

.card-subtitle {
    margin: 0px 0px 10px 0px;
    padding: 0px;
    border: 0px;
}

.card-text {
    margin: 0px 0px 10px 0px;
    padding: 0px;
    border: 0px;
}

.button {
    margin: 0px 0px 10px 0px;
    padding: 5px 10px;
    border: 1px solid #868e96;
    border-radius: 5px;
    text-decoration: none;
    color: #fff;
}

.button:hover {
    background-color: #343a40;
}


svg {
//     position: absolute;
//     top: calc(50% - 100px);
//     left: 0;
//     width: 190px;
//     height: 190px;
//     background: grey;
    color: black;
}
  
  image {
//     width: 150px;
//     height: 150px;
}
