<!-- <p>contact works!</p> -->

<h2 class="title">{{ translate.pt.title }}</h2>

<div class="flex-container">
    <!-- <a class="card" href=mailto:“thiago1santos12@gmail.com” target="_blank" rel="noopener noreferrer"> -->
    <a class="card" href="{{ translate.pt.cardOne.link }}" target="_blank" rel="noopener noreferrer">
        <div class="card-body">
            <div>
                <img src="./assets/envelope-regular.svg" alt="Thiago" height="70" class="d-inline-block align-text-top"/>
            </div>
            <div class="card-body-side">
                <h4 class="card-title">{{ translate.pt.cardOne.title }}</h4>
                <p class="card-text">{{ translate.pt.cardOne.text }}</p>
            </div>
        </div>
    </a>

    <a class="card" href="{{ translate.pt.cardTwo.link }}" target="_blank" rel="noopener noreferrer">
        <div class="card-body">
            <div>
                <img src="./assets/linkedin-in-brands-solid.svg"  alt="Thiago" height="70" class="d-inline-block align-text-top"/>
            </div>
            <div class="card-body-side">
                <h4 class="card-title">{{ translate.pt.cardTwo.title }}</h4>
                <p class="card-text">{{ translate.pt.cardTwo.text }}</p>
            </div>
        </div>
    </a>

    <a class="card" href="{{ translate.pt.cardThree.link }}" target="_blank" rel="noopener noreferrer">
        <div class="card-body">
            <div>
                <img src="./assets/github-alt-brands-solid.svg"  alt="Thiago" height="70" class="d-inline-block align-text-top"/>
            </div>
            <div class="card-body-side">
                <h4 class="card-title">{{ translate.pt.cardThree.title }}</h4>
                <p class="card-text">{{ translate.pt.cardThree.text }}</p>
            </div>
        </div>
    </a>
</div>
