<!-- <p>contact works!</p> -->

<h2 class="title">{{ translate.pt.title }}</h2>

<div class="flex-container">
    <a class="card" href=mailto:“thiago1santos12@gmail.com” target="_blank" rel="noopener noreferrer">
        <div class="card-body">
            <div>
                <img src="./assets/envelope-regular.svg" alt="Thiago" height="70" class="d-inline-block align-text-top"/>
            </div>
            <div class="card-body-side">
                <h4 class="card-title">email</h4>
                <p class="card-text">thiago1santos12&#64;gmail.com</p>
            </div>
        </div>
    </a>

    <a class="card" href="https://www.linkedin.com/in/thiago-gon%C3%A7alves-santos-730a74199/" target="_blank" rel="noopener noreferrer">
        <div class="card-body">
            <div>
                <img src="./assets/linkedin-in-brands-solid.svg"  alt="Thiago" height="70" class="d-inline-block align-text-top"/>
            </div>
            <div class="card-body-side">
                <h4 class="card-title">linkedin</h4>
                <p class="card-text">Thiago Gonçalves Santos</p>
            </div>
        </div>
    </a>

    <a class="card" href="https://github.com/thiago662" target="_blank" rel="noopener noreferrer">
        <div class="card-body">
            <div>
                <img src="./assets/github-alt-brands-solid.svg"  alt="Thiago" height="70" class="d-inline-block align-text-top"/>
            </div>
            <div class="card-body-side">
                <h4 class="card-title">github</h4>
                <p class="card-text">thiago662</p>
            </div>
        </div>
    </a>
</div>
