<!-- <p>skill works!</p> -->

<h2 class="title">Habilidades</h2>

<div class="flex-container">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Php</h4>
            <p class="card-text">Tive o primeiro contato com o PHP no curso tecnico quando tive que fazer meu tcc, apartir disso fiz diversos cursos e me especializei na linguagem.</p>
        </div>
    </div>
    
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Laravel</h4>
            <p class="card-text">Tive o primeiro contato com o PHP no curso tecnico quando tive que fazer meu tcc, apartir disso fiz diversos cursos e me especializei na linguagem.</p>
        </div>
    </div>
    
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Git</h4>
            <p class="card-text">Tive o primeiro contato com o PHP no curso tecnico quando tive que fazer meu tcc, apartir disso fiz diversos cursos e me especializei na linguagem.</p>
        </div>
    </div>
    
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Postgresql</h4>
            <p class="card-text">Tive o primeiro contato com o PHP no curso tecnico quando tive que fazer meu tcc, apartir disso fiz diversos cursos e me especializei na linguagem.</p>
        </div>
    </div>
    
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Sql</h4>
            <p class="card-text">Tive o primeiro contato com o PHP no curso tecnico quando tive que fazer meu tcc, apartir disso fiz diversos cursos e me especializei na linguagem.</p>
        </div>
    </div>
    
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Javascript</h4>
            <p class="card-text">Tive o primeiro contato com o PHP no curso tecnico quando tive que fazer meu tcc, apartir disso fiz diversos cursos e me especializei na linguagem.</p>
        </div>
    </div>
    
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Typescript</h4>
            <p class="card-text">Tive o primeiro contato com o PHP no curso tecnico quando tive que fazer meu tcc, apartir disso fiz diversos cursos e me especializei na linguagem.</p>
        </div>
    </div>
    
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Angular</h4>
            <p class="card-text">Tive o primeiro contato com o PHP no curso tecnico quando tive que fazer meu tcc, apartir disso fiz diversos cursos e me especializei na linguagem.</p>
        </div>
    </div>
    
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Scrum</h4>
            <p class="card-text">Tive o primeiro contato com o PHP no curso tecnico quando tive que fazer meu tcc, apartir disso fiz diversos cursos e me especializei na linguagem.</p>
        </div>
    </div>
</div>
