<!-- <p>skill works!</p> -->

<h2 class="title">{{ translate.pt.title }}</h2>

<div class="flex-container">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">{{ translate.pt.cardOne.title }}</h4>
            <p class="card-text">{{ translate.pt.cardOne.text }}</p>
        </div>
    </div>
    
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">{{ translate.pt.cardTwo.title }}</h4>
            <p class="card-text">{{ translate.pt.cardTwo.text }}</p>
        </div>
    </div>
    
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">{{ translate.pt.cardThree.title }}</h4>
            <p class="card-text">{{ translate.pt.cardThree.text }}</p>
        </div>
    </div>
    
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">{{ translate.pt.cardFour.title }}</h4>
            <p class="card-text">{{ translate.pt.cardFour.text }}</p>
        </div>
    </div>
    
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">{{ translate.pt.cardFive.title }}</h4>
            <p class="card-text">{{ translate.pt.cardFive.text }}</p>
        </div>
    </div>
    
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">{{ translate.pt.cardSix.title }}</h4>
            <p class="card-text">{{ translate.pt.cardSix.text }}</p>
        </div>
    </div>
    
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">{{ translate.pt.cardSeven.title }}</h4>
            <p class="card-text">{{ translate.pt.cardSeven.text }}</p>
        </div>
    </div>
    
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">{{ translate.pt.cardEight.title }}</h4>
            <p class="card-text">{{ translate.pt.cardEight.text }}</p>
        </div>
    </div>
    
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">{{ translate.pt.cardOne.title }}</h4>
            <p class="card-text">{{ translate.pt.cardOne.text }}</p>
        </div>
    </div>
</div>
