<!-- <p>skill works!</p> -->

<h2 class="title">Habilidades</h2>

<div class="flex-container">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Php</h4>
            <p class="card-text">Linguagem de progração criada especificamente para internet, lidera o mercado web por anos, foi inovado por ser a primeira voltada para web e até hoje segue se atualizando. Tive meu primeiro contato com o Php quanto fui fazer meu tcc para o curso tecnico, desde então virou minha principal linguagem de programação e estudo ela a 6 anos.</p>
        </div>
    </div>
    
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Laravel</h4>
            <p class="card-text">Laravel é o framework mais conhecido para Php e o mais usado no mercado, ele visa deixar o desenvolvimento mais rapido e simplificado, com otimas soluções já desenvolvidas e permitindo a escalabilidade dos projetos. Tive o primeiro contato no projeto de estágio que participei.</p>
        </div>
    </div>
    
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Git</h4>
            <p class="card-text">Git é um sistema de versionamento de codigo mais utilizado e o padrão do mercado. Começei a utilizar e estudar ele quando fui desenvolver meu Tcc para o curso tecnico, na busca de conseguir salvar o codigo e facilitar que mais pessoas consiga trabalhar no mesmo projeto ao mesmo tempo.</p>
        </div>
    </div>
    
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Postgresql</h4>
            <p class="card-text">O PostgreSql é um dos bancos de dados mais robusto que temos no mercado e é o mais indicado para se utilizar junto com o Php pois os dois compoem uma das stacks mais populares para web. Tive o primeiro contato durante o projeto de estagio pois fazia parte da stack utilizada no sistema.</p>
        </div>
    </div>
    
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Sql</h4>
            <p class="card-text">.</p>
        </div>
    </div>
    
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Javascript</h4>
            <p class="card-text">.</p>
        </div>
    </div>
    
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Typescript</h4>
            <p class="card-text">.</p>
        </div>
    </div>
    
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Angular</h4>
            <p class="card-text">.</p>
        </div>
    </div>
    
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Scrum</h4>
            <p class="card-text">.</p>
        </div>
    </div>
</div>
