<nav class="navbar">
  <label for="nav-button-toggle" class="nav-button-bar">&equiv;</label>
  <div class="nav">
    <a class="nav-band">
      <img src="./assets/logo.png" alt="Thiago" height="50" class="d-inline-block align-text-top">
    </a>
  </div>
  <div class="nav">
    <input type="checkbox" id="nav-button-toggle" class="nav-button-hidden"/>
    <ul class="nav-pills">
      <li class="nav-item">
        <!-- <a [routerLink]="'presentation'" class="nav-link active">apresentação</a> -->
        <!-- <a href="#presentation" class="nav-link active">apresentação</a> -->
        <a href="#presentation" class="nav-link">apresentação</a>
      </li>
      <li class="nav-item">
        <!-- <a [routerLink]="'graduation'" class="nav-link">carreira</a> -->
        <a href="#career" class="nav-link">carreira</a>
      </li>
      <li class="nav-item">
        <!-- <a [routerLink]="'graduation'" class="nav-link">formação</a> -->
        <a href="#graduation" class="nav-link">formação</a>
      </li>
      <li class="nav-item">
        <!-- <a [routerLink]="'course'" class="nav-link">formação</a> -->
        <a href="#course" class="nav-link">cursos</a>
      </li>
      <li class="nav-item">
        <!-- <a [routerLink]="'skill'" class="nav-link">habilidades</a> -->
        <a href="#skill" class="nav-link">habilidades</a>
      </li>
      <li class="nav-item">
        <!-- <a [routerLink]="'skill'" class="nav-link">projetos</a> -->
        <a href="#skill" class="nav-link">projetos</a>
      </li>
      <li class="nav-item">
        <!-- <a [routerLink]="'contact'" class="nav-link">contatos</a> -->
        <a href="#contact" class="nav-link">contatos</a>
      </li>
    </ul>
  </div>
</nav>

<main class="container">
  <!-- <router-outlet></router-outlet> -->
  <app-presentation id="presentation"></app-presentation>
  <app-career id="career"></app-career>
  <app-graduation id="graduation"></app-graduation>
  <app-course id="course"></app-course>
  <app-skill id="skill"></app-skill>
  <app-project id="project"></app-project>
  <app-contact id="contact"></app-contact>
</main>
