<!-- <p>career works!</p> -->

<h2 class="title">Carreira</h2>

<div class="flex-container">
    <div class="card">
        <div class="card-body">
            <img src="./assets/followize.png" alt="Followize" height="30">
            <h4 class="card-title">Estágio</h4>
            <h5 class="card-title">Followize</h5>
            <p class="card-text">08/2020 - 02/2021 - 6 meses</p>
            <p class="card-text">Iniciei o estafio em meio a pandemia, com um excelente plano de estagio que visava aprender toda a stack que era utilizada e apresentar um sistema utilizando ela, no caso: Php, Laravel, PostgreSql, Typescript, Javascript, Angular e Git.</p>
        </div>
    </div>

    <div class="card">
        <div class="card-body">
            <img src="./assets/followize.png" alt="Followize" height="30">
            <h4 class="card-title">Desenvolvedor back-end junior I</h4>
            <h5 class="card-title">Followize</h5>
            <p class="card-text">02/2021 - 02/2022 - 1 ano</p>
            <p class="card-text">Após efetivado atuei na resolução de bugs e desenvolvendo features menores no back-end do software principal. Tambem fui responsavel pelo software de gestão interna.</p>
        </div>
    </div>

    <div class="card">
        <div class="card-body">
            <img src="./assets/followize.png" alt="Followize" height="30">
            <h4 class="card-title">Desenvolvedor back-end junior II</h4>
            <h5 class="card-title">Followize</h5>
            <p class="card-text">02/2022 - 02/2023 - 1 ano</p>
            <p class="card-text">Após um ano recebi uma promoção e com ela tive o aumento das responsabilidade, features maiores, bugs mais complexos e ainda responsavel pelo software de gestão interna.</p>
        </div>
    </div>

    <div class="card">
        <div class="card-body">
            <img src="./assets/followize.png" alt="Followize" height="30">
            <h4 class="card-title">Desenvolvedor full stack junior III</h4>
            <h5 class="card-title">Followize</h5>
            <p class="card-text">02/2023 - 10/2023 - 8 meses</p>
            <p class="card-text">Com a nova promoção tive que implementar ao meu fluxo de trabalho desenvolver e resolver tarefas relacionadas ao front-end.</p>
        </div>
    </div>

    <div class="card">
        <div class="card-body">
            <img src="./assets/followize.png" alt="Followize" height="30">
            <h4 class="card-title">Desenvolvedor back-end pleno I</h4>
            <h5 class="card-title">Followize</h5>
            <p class="card-text">10/2023 - 08/2024 - 10 meses</p>
            <p class="card-text">Aumentando a senioridade é necessario aumentar as atribuições, após se tornar pleno tive que ficar reponsavel por outros programadores iniciantes e fazer revisão de codigo, além claro de nessa época eu ter focado em trabalhar no time de integrações.</p>
        </div>
    </div>

    <div class="card">
        <div class="card-body">
            <img src="./assets/dealerspace.png" alt="dealerspace" height="30">
            <h4 class="card-title">Desenvolvedor full stack pleno I</h4>
            <h5 class="card-title">DealerSpace</h5>
            <p class="card-text">08/2024 - momento</p>
            <p class="card-text">No ano de 2024 a Followize foi e unificada com a empresa DealerSite, dando origem a uma nova empresa a DealerSpace que manter o mesmo ambiente porem com objetivos maiores.</p>
        </div>
    </div>
</div>
