<!-- <p>career works!</p> -->

<h2 class="title">{{ translate.pt.title }}</h2>

<div class="flex-container">
    <div class="card">
        <div class="card-body">
            <img src="./assets/dealerspace.png" alt="dealerspace" class="company-logo">
            <h4 class="card-title">{{ translate.pt.dealerspacePlenoTwo.level }}</h4>
            <h5 class="card-title">{{ translate.pt.dealerspacePlenoTwo.company }}</h5>
            <p class="card-text">{{ translate.pt.dealerspacePlenoTwo.period }}</p>
            <p class="card-text">{{ translate.pt.dealerspacePlenoTwo.text }}</p>
        </div>
    </div>

    <div class="card">
        <div class="card-body">
            <img src="./assets/dealerspace.png" alt="dealerspace" class="company-logo">
            <h4 class="card-title">{{ translate.pt.dealerspacePlenoOne.level }}</h4>
            <h5 class="card-title">{{ translate.pt.dealerspacePlenoOne.company }}</h5>
            <p class="card-text">{{ translate.pt.dealerspacePlenoOne.period }}</p>
            <p class="card-text">{{ translate.pt.dealerspacePlenoOne.text }}</p>
        </div>
    </div>

    <div class="card">
        <div class="card-body">
            <img src="./assets/followize.png" alt="Followize" class="company-logo">
            <h4 class="card-title">{{ translate.pt.followizePlenoOne.level }}</h4>
            <h5 class="card-title">{{ translate.pt.followizePlenoOne.company }}</h5>
            <p class="card-text">{{ translate.pt.followizePlenoOne.period }}</p>
            <p class="card-text">{{ translate.pt.followizePlenoOne.text }}</p>
        </div>
    </div>

    <div class="card">
        <div class="card-body">
            <img src="./assets/followize.png" alt="Followize" class="company-logo">
            <h4 class="card-title">{{ translate.pt.followizeJuniorThree.level }}</h4>
            <h5 class="card-title">{{ translate.pt.followizeJuniorThree.company }}</h5>
            <p class="card-text">{{ translate.pt.followizeJuniorThree.period }}</p>
            <p class="card-text">{{ translate.pt.followizeJuniorThree.text }}</p>
        </div>
    </div>

    <div class="card">
        <div class="card-body">
            <img src="./assets/followize.png" alt="Followize" class="company-logo">
            <h4 class="card-title">{{ translate.pt.followizeJuniorTwo.level }}</h4>
            <h5 class="card-title">{{ translate.pt.followizeJuniorTwo.company }}</h5>
            <p class="card-text">{{ translate.pt.followizeJuniorTwo.period }}</p>
            <p class="card-text">{{ translate.pt.followizeJuniorTwo.text }}</p>
        </div>
    </div>

    <div class="card">
        <div class="card-body">
            <img src="./assets/followize.png" alt="Followize" class="company-logo">
            <h4 class="card-title">{{ translate.pt.followizeJuniorOne.level }}</h4>
            <h5 class="card-title">{{ translate.pt.followizeJuniorOne.company }}</h5>
            <p class="card-text">{{ translate.pt.followizeJuniorOne.period }}</p>
            <p class="card-text">{{ translate.pt.followizeJuniorOne.text }}</p>
        </div>
    </div>

    <div class="card">
        <div class="card-body">
            <img src="./assets/followize.png" alt="Followize" class="company-logo">
            <h4 class="card-title">{{ translate.pt.followizeIntern.level }}</h4>
            <h5 class="card-title">{{ translate.pt.followizeIntern.company }}</h5>
            <p class="card-text">{{ translate.pt.followizeIntern.period }}</p>
            <p class="card-text">{{ translate.pt.followizeIntern.text }}</p>
        </div>
    </div>
</div>
