<!-- <p>career works!</p> -->

<h2 class="title">{{ translate.pt.title }}</h2>

<div class="flex-container">
    <div class="card">
        <div class="card-body">
            <img src="./assets/followize.png" alt="Followize" class="company-logo">
            <h4 class="card-title">{{ translate.pt.cardOne.level }}</h4>
            <h5 class="card-title">{{ translate.pt.cardOne.company }}</h5>
            <p class="card-text">{{ translate.pt.cardOne.period }}</p>
            <p class="card-text">{{ translate.pt.cardOne.text }}</p>
        </div>
    </div>

    <div class="card">
        <div class="card-body">
            <img src="./assets/followize.png" alt="Followize" class="company-logo">
            <h4 class="card-title">{{ translate.pt.cardTwo.level }}</h4>
            <h5 class="card-title">{{ translate.pt.cardTwo.company }}</h5>
            <p class="card-text">{{ translate.pt.cardTwo.period }}</p>
            <p class="card-text">{{ translate.pt.cardTwo.text }}</p>
        </div>
    </div>

    <div class="card">
        <div class="card-body">
            <img src="./assets/followize.png" alt="Followize" class="company-logo">
            <h4 class="card-title">{{ translate.pt.cardThree.level }}</h4>
            <h5 class="card-title">{{ translate.pt.cardThree.company }}</h5>
            <p class="card-text">{{ translate.pt.cardThree.period }}</p>
            <p class="card-text">{{ translate.pt.cardThree.text }}</p>
        </div>
    </div>

    <div class="card">
        <div class="card-body">
            <img src="./assets/followize.png" alt="Followize" class="company-logo">
            <h4 class="card-title">{{ translate.pt.cardFour.level }}</h4>
            <h5 class="card-title">{{ translate.pt.cardFour.company }}</h5>
            <p class="card-text">{{ translate.pt.cardFour.period }}</p>
            <p class="card-text">{{ translate.pt.cardFour.text }}</p>
        </div>
    </div>

    <div class="card">
        <div class="card-body">
            <img src="./assets/followize.png" alt="Followize" class="company-logo">
            <h4 class="card-title">{{ translate.pt.cardFive.level }}</h4>
            <h5 class="card-title">{{ translate.pt.cardFive.company }}</h5>
            <p class="card-text">{{ translate.pt.cardFive.period }}</p>
            <p class="card-text">{{ translate.pt.cardFive.text }}</p>
        </div>
    </div>

    <div class="card">
        <div class="card-body">
            <img src="./assets/dealerspace.png" alt="dealerspace" class="company-logo">
            <h4 class="card-title">{{ translate.pt.cardSix.level }}</h4>
            <h5 class="card-title">{{ translate.pt.cardSix.company }}</h5>
            <p class="card-text">{{ translate.pt.cardSix.period }}</p>
            <p class="card-text">{{ translate.pt.cardSix.text }}</p>
        </div>
    </div>
</div>
