<!-- <p style="margin-top: 0px;">project works!</p> -->

<h2 class="title">Projetos</h2>

<div class="flex-container">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Portifolio</h5>
            <p class="card-text">Esse projeto foi idealizado para eu conseguir mostrar um pouco do meu trabalho e compartilhar a minha experiencia de trabalho e estudos.</p>
            <a href="https://github.com/thiago662/thiago662" target="_blank" class="button">Link GitHub</a>
            <a href="https://thiago662.github.io/thiago662/" target="_blank" class="button">Link GitHub Pages</a>
        </div>
    </div>
    
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Scrum Truco</h5>
            <p class="card-text">O scrum truco é um sistema utilizado para equipes conseguirem estipular o peso das tarefas na metodologia scrum, conseguindo assim fazer com que todos os integrantes deem suas notas sem interferencia externa e depois compararem elas.</p>
            <a href="https://github.com/thiago662/scrum-truco-app" target="_blank" class="button">Link GitHub</a>
            <a href="https://thiago662.github.io/scrum-truco-app/" target="_blank" class="button">Link GitHub Pages</a>
        </div>
    </div>
    
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Notas e medias</h5>
            <p class="card-text">Projeto desenvolvido durante a faculdade o terceiro semestre, com intuito de ser um sistema para os professores conseguirem calcular a media dos alunos.</p>
            <a href="https://github.com/thiago662/primeiro-projeto-interdiciplinar" target="_blank" class="button">Link GitHub</a>
            <a href="https://thiago662.github.io/primeiro-projeto-interdiciplinar/" target="_blank" class="button">Link GitHub Pages</a>
        </div>
    </div>
</div>
