<!-- <p style="margin-top: 0px;">project works!</p> -->

<h2 class="title">{{ translate.pt.title }}</h2>

<div class="flex-container">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">{{ translate.pt.cardOne.title }}</h4>
            <p class="card-text">{{ translate.pt.cardOne.text }}</p>
            <a href="{{ translate.pt.cardOne.linkGitHub }}" target="_blank" class="button">{{ translate.pt.cardOne.linkGitHubText }}</a>
            <a href="{{ translate.pt.cardOne.linkGitHubPages }}" target="_blank" class="button">{{ translate.pt.cardOne.linkGitHubPagesText }}</a>
        </div>
    </div>
    
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">{{ translate.pt.cardTwo.title }}</h4>
            <p class="card-text">{{ translate.pt.cardTwo.text }}</p>
            <a href="{{ translate.pt.cardTwo.linkGitHub }}" target="_blank" class="button">{{ translate.pt.cardTwo.linkGitHubText }}</a>
            <a href="{{ translate.pt.cardTwo.linkGitHubPages }}" target="_blank" class="button">{{ translate.pt.cardTwo.linkGitHubPagesText }}</a>
        </div>
    </div>
    
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">{{ translate.pt.cardThree.title }}</h4>
            <p class="card-text">{{ translate.pt.cardThree.text }}</p>
            <a href="{{ translate.pt.cardThree.linkGitHub }}" target="_blank" class="button">{{ translate.pt.cardThree.linkGitHubText }}</a>
            <a href="{{ translate.pt.cardThree.linkGitHubPages }}" target="_blank" class="button">{{ translate.pt.cardThree.linkGitHubPagesText }}</a>
        </div>
    </div>
</div>
